<!DOCTYPE html>
<html>
  <head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="commentBox"></div>
    <script>

      fetch("/comments")
  .then((res) => res.json()).then((comments) => {
    console.log(comments);
    const commentBox = document.getElementById("commentBox");
    for (let n in comments) {
      let results = JSON.stringify(comments[n]);
      let newLi = document.createElement("li");
      newLi.className = "commentItem";
      newLi.innerHTML = `${comments[n][0]}`;
      commentBox.appendChild(newLi);
      commentBox.append(results);
    }
  });
    </script>
  </body>
</html>
